[submodule "danielgaio/themes/stack"]
	path = danielgaio/themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
